# Krakul C/C++ Code style
# using clang-format version 13
#
# Krakul Config Guidelines: https://app.clickup.com/4500127/v/dc/49amz-1744/49amz-22161
# Docs: https://clang.llvm.org/docs/ClangFormatStyleOptions.html
#
# Basic CLI Usage:
#  $ clang-format -style=file -i <file>
#
# Clion:
#  Press CTRL+ALT+L for format currently highlighted lines or whole file
#

BasedOnStyle: LLVM
ColumnLimit: 120
IndentWidth: 4
UseTab: Never

# Keep beginning { on same line
BreakBeforeBraces: Attach

# Insert whitespace to align struct members
AlignArrayOfStructures: Left

#
AlignConsecutiveAssignments: Consecutive

# Make sure that multi line macro newline escapes are in same column
AlignEscapedNewlines: Left
AlignConsecutiveMacros: Consecutive
#AlignConsecutiveMacros: AcrossEmptyLinesAndComments

# Allow writing compact switch cases
AllowShortCaseLabelsOnASingleLine: true
IndentCaseLabels: true

# Pack function arguments into a single line
BinPackArguments: true
AllowAllArgumentsOnNextLine: true

# Inline comments should have 2 spaces before //
SpacesBeforeTrailingComments: 2
#SpacesInLineCommentPrefix:
#  Minimum: 1
#  Maximum: 1
